/* global */

body{
  margin: 0;
  padding: 0;
  font-family: Oswald, sans-serif;
}

.button{
  display: inline-block;
  border: 2px solid;
  padding:  .5em 1.75em;
  margin-top: 2em;
  margin-left: 40%;
  background: none;
}

.button a{
  font-size: 1.1rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}

.button-accent{
  color: #EF233C;
  border-color: #EF233C;
}

.button-accent:hover,
.button-accent:focus{
  background-color: #EF233C;
  color: #232323;
}

 /* nav */

 /* Header **/
 nav{
   background: #2B2D42;
   color: #ffffff;
   padding-top: 30px;
   height: 70px;
   border-bottom: #EF233C 3px solid;
   width: 100%;
 }

 nav ul{
   list-style: none;
   text-decoration: none;
   padding-left: 820px;
 }

 nav ul li{
   text-transform: uppercase;
   display: inline-block;
   padding-left: 30px;
 }

 nav ul li a{
   padding: 10px;
   text-decoration: none;
   color: #FFFFFF;
   text-align: center;
 }

 nav ul li a:hover{
   font-weight: bold;
 }

  nav ul li a.current{
    color: #EF233C;
 }

/* Banner */

#title{
 font-size: 50px;
 text-align: center;
 margin-top: -30px;
}

.title{
  background-image: url(../img/escaperoom.jpg);
  padding: 10em;
  width: 77.5%;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  margin-bottom: 0;
}

.header h1{
  text-align: center;
}

/* Body */

.Main{
 text-align: center;
 background-color: #2B2D42;
 color: #ffffff;
 margin: 20px 10px 20px 10px;
 width: 96.5%;
 padding: 20px 5px 20px 10px;
 border: #EF233C 3px solid;
 border-radius: 4px;
}

#columnsintro{
  text-align: center;
  margin: 120px 300px 30px 300px;
  border: 1px solid #2B2D42;
  padding: 60px;
}

.column1 {
    float: left;
    width: 390px;
    border: 1px solid black;
    border-radius: 4px;
    text-align: left;
    padding: 15px;
    height: 460px;
    margin: 10px;
    margin-right: 10px;
    margin-left: 60px;
    margin-top: 100px;
    background-color: #2B2D42;
    color: #ffffff;
    text-align: center;
}

.column2 {
    float: left;
    width: 390px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 15px;
    height: 460px;
    margin: 10px;
    margin-right: 10px;
    margin-top: 100px;
    background-color: #2B2D42;
    color: #ffffff;
    text-align: center;
}

.column3 {
    float: left;
    width: 390px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 15px;
    height: 460px;
    margin: 9px;
    margin-top: 100px;
    background-color: #2B2D42;
    color: #ffffff;
    text-align: center;
}

/* footer */

footer{
  padding: 20px;
  margin-top: 800px;
  color: #ffffff;
  background-color: #2B2D42;
  text-align: center;
}


  /* Media Queries */
 @media(max-width: 768px){

   nav ul{
     padding-left: 20px;
   }

   #title{
     font-size: 30px;
   }

   .title{
     width: 45%;
   }

   .button{
     margin-left: 10%;
   }


  #columnsintro{
    float: none;
    text-align: center;
    margin: 10px;
  }

  footer{
    margin-top: 2000px;
  }
}
