/* global */

body{
  margin: 0;
  padding: 0;
  font-family: Oswald, sans-serif;
}

span{
  color: #EF233C;
}

hr{
  width: 90%;
}

 /* nav */

nav{
  background: #2B2D42;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #EF233C 3px solid;
  width: 100%;

}

nav ul{
  list-style: none;
  text-decoration: none;
  padding-left: 820px;
}

nav ul li{
  text-transform: uppercase;
  display: inline-block;
  padding-left: 30px;
}

nav ul li a{
  padding: 10px;
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
}

nav ul li a:hover{
  font-weight: bold;
}

 nav ul li a.current{
   color: #EF233C;
}

#header{
  float: left;
  padding-left: 35px;
  text-align: center;
}

/* body */


#title{
  text-align: center;
  padding-top: 20px;
}

.intro-p{
  text-align: center;
  margin-top: 50px;
}

.rooms{
  text-align: center;
}

.row1, .row2{
  margin-top: 40px;
  margin-left: 10px;
  margin-bottom: 15px;
  float: left;
  border: 1px solid #EF223C;
  border-radius: 5px;
  padding: 20px;
  width: 800px;
}

.row1 img, .row2 img{
  float: right;
  padding-left: 10px;
}

 .row2 img{
  float: left;
  padding-right: 10px;
}


.row3-txt{
 margin-right: 20px;
 margin-top: -250px;
 border: 1px solid #EF223C;
 border-raduis: 6px;
 padding: 20px;
 font-size: 105%;
 float: right;
 width: 400px;
}

#row3-img{
 width: 35%;
 margin-left: 850px;
 margin-top: -600px;
}

.pricing{
  border: 1px solid #EF223C;
  border-radius: 6px;
  text-align: center;
  list-style: none;
  margin: 1000px 20px 50px 20px;
  padding: 20px;
}


/* footer */

footer{
  padding: 20px;
  margin-top: 200px;
  color: #ffffff;
  background-color: #2B2D42;
  text-align: center;
  font-size: 10px;
}

/* Media Queries */

@media(max-width: 768px){

body{
  float: none;
  text-align: center;
}

  nav ul{
    padding-left: 20px;
  }

  .row1, .row2{
    width: 450px;
}

  .row1 img, .row2 img{
    margin-left: 25px;
  }

  .row3{
    margin-top: 50px;
  }

footer{
  margin-top: 2000px;
}
}

